h1 {
    text-align: center;
    color: dodgerblue;
}

table {
    margin: 0 auto;
}

p {
    text-align: center;
}

td {
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 5em;
    border-left: 6px solid dodgerblue;
    border-bottom: 6px solid dodgerblue;
    cursor: pointer;
}

td:first-child {
    border-left: none;
}

tr:last-child td {
    border-bottom: none;
}

#errorMessage {
    color: red;
}

#gameResultMessage {
    color: green;
}